<nav class="navbar sticky-top bg-dark p-3">
  <div class="container-fluid d-flex justify-content-start">
    <form class="container-fluid">
      <!-- La directiva routerLink le pasa el valor al array de rutas para ver si matchea con alguna dirección -->
      <button class="btn btn-success me-2" type="button" routerLink="/inicio">Inicio</button>
      <button class="btn btn-success me-2" type="button" routerLink="/peliculas">Películas</button>
      <button class="btn btn-success me-2" type="button">Boton 3</button>
      <button class="btn btn-success me-2" type="button">Boton 4</button>
    </form>
  </div>
</nav>
